{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Acknowledgement</title>
</head>
<body>
    <style>
        .home-container {
            margin-top: 6%;
            background-color: rgba(235, 235, 230, 0.9);
            height: 100%;
            text-align: center;
            padding: 20px;            
        }
    </style>
    <div class="nav-bar">
        <nav>
            <label class="logo">Weather Web App</label>
        </nav>
    </div>
    
    <div class="home-container">
        All Rights Reserved.
        <br>
        I would like to thank the following corporations:<br>
        1. Google, LLC. Google Images. Background Image and photo was downloaded from Google Images.<br>
        2. OpenWeather Organization. All data displayed such as weather, description, etc.<br>
    </div>

    <div class="footer">
        <footer>&copy; 2022 Weather Web App | ALL RIGHTS RESERVED.</footer>
        <div class="nav-footer">
            <a href="#">Privacy Policy</a>
        </div>
    </div>
</body>
</html>