{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    {% block content %}
    <div class="form-container">
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                <strong>{{message}}</strong>
            </div>
        {% endfor %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Enter city name..." name="city_name" required>
            <button type="submit"><img src="{% static 'search-icon.png' %}" alt="search"></button>
        </form>
    </div>
    <div class="image-card-container">
        {% if city %}
        <div class="image-card">
            <img src="{% static 'weather-icons.jpg' %}" alt="">
            <div class="description">
                <h4>{{city}}, {{country}}</h>
                <h5>Longitude: {{long}}, Latitude: {{lat}}</h5>
                <h5>Temperature: {{temperature}}&deg;C</h5>
                <h5>Description: {{weather}}</h5>
                <h5>Humidity: {{humidity}}&percnt;</h5>
                <h5>Wind: {{wind_speed}} m/s</h5>
            </div>
        </div>
        {% endif %}
        
    </div>
    <script src="{% static 'slides.js' %}"></script>
    {% endblock %}
</body>
</html>